body{
  background-image: linear-gradient(#80bfff, #1a8cff, #0066cc, #004080, #003366, black);
}

main{
  padding-right: 300px;
  padding-left: 300px;
}

.navbar{
  background-color: white;
}

.section1{
    color: white;
    padding-bottom:70px;
}
.sum{
    text-align: center;
}

.wumbo{
  color: blue;
}




.section2{
  padding-bottom:70px;
}

.section3{
  padding-bottom: 70px;
}





.section4{
    text-align: center;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    padding-bottom:70px;
}

.wambo{
    height: 500px;
    width: 900px;
    border: 2px solid black;
}

.grape{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.container {
  position: relative;
  width: 100%;
}



.overlay {
  margin: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left:1.4%;
  right: 0;
  height: 100%;
  width: 816px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: .7;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-inner{
  text-align: center;
}



<<<<<<< HEAD
=======
@keyframes slideshow {
  0%{margin-left: 0;}
  25%{margin-left: -100%;}
  50%{margin-left: -200%;}
  75%{margin-left: -100%;}
  100%{margin-left: 0;}
}
.slide img{
  width:100%;
  height:100%;
}

a {
    color: white;
}

a:hover {
    color: orange;
}
>>>>>>> cd20c98dc8067a11e949948c787a0febb9cf5175
