.section1{
    
    padding-bottom:70px;
}
.sum{
    text-align: center;
}
.section3{
    
     padding-bottom:70px;
}

.img{
    width: 100%;
    height: 700px;
}

.box1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.img2{
    width: 500px;
    height: 300px;
}

.section4{
    text-align: center;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    padding-bottom:70px;
}

.wambo{
    width: 800px;
    height: 600px;
    border: 2px solid black;
}

.grape{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
    margin: center;
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 600px;
  width: 800px;
  opacity: 0.5;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container2>.frame{
  height:10%;
  width:90%;
  overflow-x: hidden;
  margin-left:5%;
}

.frame>.wrapper{
  width:300%;
  height:100%;
  display:flex;
  animation: slideshow 30s;
  animation-iteration-count: infinite;
}
.wrapper>.slide{
  width:100%;
  height:100%;
  text-align: center;
  overflow: hidden;

}
.slide1{
  background-color: #5e692d;
  color:white;
}
.slide2{
  background-color: #cfc46d;
  color:black;
}
.slide3{
  background-color: #8a7e30;
  color:white;
}

@keyframes slideshow {
  0%{margin-left: 0;}
  25%{margin-left: -100%;}
  50%{margin-left: -200%;}
  75%{margin-left: -100%;}
  100%{margin-left: 0;}
}
.slide img{
  width:100%;
  height:100%;
}