.MTbody {
    background-color: black;
    padding: 10px;
    max-width: 1920px;
    margin: auto;
    height:1020px;
}

.MTmainpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(black, #FAAA8D);
    color: white;
    width: 100%;
    border-collapse: collapse;
}

.MTheading {
    margin-top:50px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    height: 820px;
}

.MTozonepic {
    width: 500px;
    border-radius: 15px;
}

.MTparagraph {
    text-align: center;
    padding: 20px;
    line-height: 3;
}

.MTheading2 {
    padding-bottom: 20px;
}

.navbar {
    background-color: black;
     max-width: 1920px;
}

footer {
    background-color: #FAAA8D;
     max-width: 1920px;
}

a {
    color: white;
}

a:hover {
    color: orange;
}

@media (max-width: 375px) {
     .navbar {
         font-size: 10px;
     }
     
     footer {
        font-size: 10px;
    }
    
    .title {
        padding:10px;
    }
}

@media (max-width: 600px) {
    .polarBear {
        height: auto;
    }
    
    .bearpic {
        width: 500px;
        height: auto;
        max-width: 550px;
    }
    
    .shortsum {
        display: none;
    }
    
    .gallery {
        height: auto;
        max-height: 1600px;
    }
    .gallerypics {
        display: none;
    }
    
    .pic {
        display: none;
    }
    
    .gallerysum {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
    }
    
    .navbar {
        font-size: small;
        max-width: 500px;
    }
    
    .navright {
        display: none;
    }
    
    .title {
        padding-left: 140px;
    }
    
    footer {
        font-size: small;
        width: auto;
        padding: 20px;
    }
}

@media (max-width: 720px) {
    .MTbody {
        width: auto;
    }
    
    .MTheading {
        display: none;
    }
    
    .MTmainpage {
        display: flex;
        flex-direction: column;
    }
}