.MTbody {
    background-color: black;
    padding: 10px;
    max-width: 1920px;
    margin: auto;
    height:1020px;
}

.MTmainpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(black, #FAAA8D);
    color: white;
    width: 100%;
    border-collapse: collapse;
}

.MTheading {
    margin-top:20px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    height: 820px;
}

.MTozonepic {
    width: 500px;
    border-radius: 15px;
}

.MTparagraph {
    text-align: center;
    padding: 20px;
    line-height: 3;
}

.MTheading2 {
    padding-bottom: 20px;
}

.navbar {
    background-color: black;
     max-width: 1920px;
}

footer {
    background-color: #FAAA8D;
     max-width: 1920px;
}

@media (max-width: 375px) {
     .navbar {
         font-size: 10px;
     }
     
     footer {
        font-size: 10px;
    }
}

@media (max-width: 720px) {
    .MTheading {
        display: none;
    }
    
    .MTmainpage {
        display: flex;
        flex-direction: column;
    }
}