.img-row {
    height:370px;
}
img {
    width:100%;
    height:40%;
    border-radius: 15px;
}

.footer-row {
    height: 50px;
}

.colorgrad {
    background-image: linear-gradient(hsl(200,36%,46%), hsl(199,61%,22%), hsl(200,33%,48%), #FAAA8D);
}

h5 {
    padding-top: 10px;
}

.cardgroupgrad {
    background-image: linear-gradient(hsl(199,61%,22%), hsl(200,33%,48%), #FAAA8D)
}

.syn {
    padding: 25px;
    color: white;
}


.navtitle {
    color: white;
}

.navtitle:hover {
    color: orange;
}

.foottitle:hover {
    color: blue;
}