.colorgrad {
    background-image: linear-gradient(hsl(200,36%,46%), hsl(199,61%,22%), hsl(200,33%,48%), #FAAA8D);
}

h5 {
    padding-top: 10px;
}

.syn {
    padding: 25px;
    color: white;
}

.navtitle {
    color: white;
}

.navtitle:hover {
    color: orange;
}

.navtitle2 {
    color: white;
}

.foottitle:hover {
    color: blue;
}
